<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logic'Art</title>
    <link rel="icon" href="<%= require('../assets/logic_art.png') %>" type="image/png" sizes="16x16" />

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="<%= require('../assets/logic_art.png') %>" alt="" width="30" height="30"
                    class="d-inline-block align-text-top me-2">
                <span id="brand">Logic'Art</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">

                </ul>
                <ul class="navbar-nav d-flex flex-row align-items-center">
                    <li class="nav-item me-2">
                        <!-- Checkbox for step by step execution -->
                        <div class="form-check form-switch mb-0">
                            <input class="form-check-input" type="checkbox" id="step">
                            <label class="form-check-label" for="step">Mode pas à pas</label>
                        </div>
                    </li>

                    <li class="nav-item">
                        <!-- Button to play the code -->
                        <button id="play" class="btn btn-success"><i class="fas fa-play"></i></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main container -->
    <div class="container-fluid mt-3">

        <!-- Main row -->
        <div class="row">

            <!-- Left col -->
            <div class="col s12 m6 l6">

                <div id="blocklyDiv" style="width: 100%;height:500px;"></div>

            </div>
            <!-- End of left col -->

            <!-- Right col -->
            <div class="col s12 m6 l6">

                <!-- Canvas -->
                <div class="container">
                    <div id="canvas" width="420px" height="420px" class="d-block mx-auto"></div>
                </div>

                <!-- Build option -->
                <div class="container mt-3">
                    <h5>Configurer le pixel art</h5>
                    <!-- Value selector for number of lines and columns -->
                    <div class="input-group">
                        <label class="input-group-text" for="dim"><i class="fas fa-ruler"></i></label>
                        <input type="number" id="dim" value="10" min="1" max="20" class="form-control form-control-sm">
                    </div>
                </div>

            </div>
            <!-- End of right col -->

        </div>
        <!-- End of main row -->

        <textarea id="editor" style="width: 100%;height:500px;" class="d-none"></textarea>

    </div>
    <!-- End of main container -->

</body>

</html>