body {
    font-family: 'Roboto', sans-serif;
    background-color: #666;
    margin: 0;
    padding: 0;
}

#brand {
    font-size: 1.2em;
    font-weight: bold;
    color: #666;
}

#canvasSVG {
    display: block;
   margin: auto;
}